
create PROCEDURE [dbo].[SP_BitacoraExcepcionNoControlada]
(
    @StackTrace NVARCHAR(MAX),
    @InnerException NVARCHAR(MAX),
    @Mensaje NVARCHAR(MAX),
    @Pagina NVARCHAR(MAX)
)
AS
BEGIN
    INSERT INTO dbo.BitacoraExcepcionNoControlada
    (
        StackTrace,
        InnerException,
        Mensaje,
        Pagina,
        FechaAlta
    )
    VALUES
    (   @StackTrace,     -- StackTrace - nvarchar(max)
        @InnerException, -- InnerException - nvarchar(max)
        @Mensaje,        -- Mensaje - nvarchar(max)
        @Pagina,         -- Pagina - nvarchar(max)
        GETDATE()        -- FECHA - datetime
    )
END