IF OBJECT_ID('[dbo].[USP_SEL_FI_RelacionadosEPT]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].USP_SEL_FI_RelacionadosEPT
GO
-- =============================================
-- Author:		Pedro Acuña
-- Create date: 6-Marzo-2025
-- Description:	Relacionados con el ept
-- =============================================
CREATE PROCEDURE [dbo].USP_SEL_FI_RelacionadosEPT
@IdContrato INT, 
@IdUsuario  INT, 
@IdEPT      INT
AS
    BEGIN
        SET NOCOUNT ON;
        IF OBJECT_ID('tempdb..#TEMPORAL', 'U') IS NOT NULL
            DROP TABLE #TEMPORAL;

        CREATE TABLE #TEMPORAL
        (Id           INT IDENTITY(1, 1), 
         IdEPT        INT, 
         Documento VARCHAR(300),
		 MetodoPago VARCHAR(200),
		 TipoComprobante VARCHAR(200),
		 IdDocumento INT
        );

		DECLARE @PedimentoImportacion INT = 2,
				@ComprobanteExtranjero INT = 3

        --Factura
        INSERT INTO #TEMPORAL
        (IdEPT, 
         IdDocumento,
		Documento,
		 MetodoPago,
		 TipoComprobante
        )
               SELECT @IdEPT,
						IdFactura,
                      UUID,
					  MetodoPagoEstandarizado,
					  TipoComprobanteEstandarizado
               FROM dbo.FI_Factura (NOLOCK)
               WHERE IdEstudioPrecioTransfer = @IdEPT
               ORDER BY IdFactura DESC;

        --Pedimento
        INSERT INTO #TEMPORAL
        (IdEPT, 
         IdDocumento,
		Documento,
		 MetodoPago,
		 TipoComprobante
        )
               SELECT @IdEPT, 
						IdPedimentoComprobante,
                      NumeroPedimento,
					  '',
					  'PI'
               FROM dbo.FI_PedimentoComprobante	(NOLOCK)
               WHERE IdEstudioPrecioTransfer = @IdEPT
                     AND CvTipoDocFacturacion = @PedimentoImportacion
               ORDER BY IdPedimentoComprobante DESC;

        --Comprobante
        INSERT INTO #TEMPORAL
        (IdEPT, 
         IdDocumento,
		Documento,
		 MetodoPago,
		 TipoComprobante
        )
               SELECT @IdEPT,
					  IdPedimentoComprobante,
					  IdDocFacturacionSIPAC,
					  '',
					  'PE'
               FROM dbo.FI_PedimentoComprobante	(NOLOCK)
               WHERE IdEstudioPrecioTransfer = @IdEPT
                     AND CvTipoDocFacturacion = @ComprobanteExtranjero
               ORDER BY IdPedimentoComprobante DESC;

        --Temporal
		SELECT IdEPT,
				Documento,
			   IdDocumento,
			   MetodoPago,
			   TipoComprobante
        FROM #TEMPORAL
        ORDER BY Id ASC;
    END;