IF OBJECT_ID(N'[dbo].[USP_SEL_FI_TransferContrato_Ligadas]', N'P') IS NOT NULL
    DROP PROCEDURE [dbo].[USP_SEL_FI_TransferContrato_Ligadas];
GO

CREATE PROCEDURE [dbo].[USP_SEL_FI_TransferContrato_Ligadas]
    @IdContrato INT,
    @IdUsuario  INT
AS
BEGIN
    SET NOCOUNT ON;
    SET LANGUAGE spanish;

    /* Limpieza de #temps */
    IF OBJECT_ID('tempdb..#Facturas', 'U') IS NOT NULL DROP TABLE #Facturas;
    IF OBJECT_ID('tempdb..#UUIDS', 'U')     IS NOT NULL DROP TABLE #UUIDS;
    IF OBJECT_ID('tempdb..#TransferenciaUUIDS', 'U') IS NOT NULL DROP TABLE #TransferenciaUUIDS;

    /* ===================== #
       Facturas del contrato #
       ===================== */
    CREATE TABLE #Facturas
    (
        IdFactura       INT NOT NULL,
        Serie           VARCHAR(500) NULL,
        NumeroContrato  NVARCHAR(50) NULL,
        Folio           VARCHAR(500) NULL,
        Fecha           DATETIME NULL,
        FormaPago       VARCHAR(500) NULL,
        SubTotal        MONEY NULL,
        Moneda          VARCHAR(500) NULL,
        MontoConIva     MONEY NULL,
        TipoComprobante VARCHAR(500) NULL,
        MetodoPago      VARCHAR(500) NULL,
        LugarExpedicion VARCHAR(1000) NULL,
        UUID            VARCHAR(500) NULL,
        FechaRecepcion  DATETIME NULL,
        RazonSocial     VARCHAR(1000) NULL,
        Emisor          VARCHAR(1000) NULL
    );

    /* Índice para acelerar join/filter posteriores */
    CREATE CLUSTERED INDEX CX_Facturas_IdFactura ON #Facturas(IdFactura);

    INSERT INTO #Facturas
    (
        IdFactura, Serie, NumeroContrato, Folio, Fecha, FormaPago, SubTotal, Moneda,
        MontoConIva, TipoComprobante, MetodoPago, LugarExpedicion, UUID, FechaRecepcion,
        RazonSocial, Emisor
    )
    SELECT DISTINCT
        F.IdFactura,
        F.Serie,
        C.NumeroContrato,
        F.Folio,
        F.Fecha,
        CASE
            WHEN F.MetodoPago LIKE '%exhibi%' OR F.MetodoPago LIKE '%PUE%'
              OR F.MetodoPago LIKE '%parcia%' OR F.MetodoPago LIKE '%dife%' OR F.MetodoPago LIKE '%PPD%'
                THEN F.FormaPago
            WHEN F.FormaPago LIKE '%exhibi%' OR F.FormaPago LIKE '%PUE%'
              OR F.FormaPago LIKE '%parcia%' OR F.FormaPago LIKE '%dife%' OR F.FormaPago LIKE '%PPD%'
                THEN F.MetodoPago
            ELSE 'NA'
        END AS FormaPago,
        ISNULL(F.SubTotal, 0)         AS SubTotal,
        F.Moneda,
        ISNULL(F.MontoConIva, 0)      AS MontoConIva,
        F.TipoComprobante,
        CASE
            WHEN F.MetodoPago LIKE '%exhibi%' OR F.MetodoPago LIKE '%PUE%'
              OR F.FormaPago  LIKE '%exhibi%' OR F.FormaPago  LIKE '%PUE%' THEN 'PUE'
            WHEN F.MetodoPago LIKE '%parcia%' OR F.MetodoPago LIKE '%dife%' OR F.MetodoPago LIKE '%PPD%'
              OR F.FormaPago  LIKE '%parcia%' OR F.FormaPago  LIKE '%dife%' OR F.FormaPago  LIKE '%PPD%' THEN 'PPD'
            ELSE 'NA'
        END AS MetodoPago,
        SUBSTRING(F.LugarExpedicion, 1, 15) AS LugarExpedicion,   -- <== inicio en 1
        F.UUID,
        F.FechaRecepcion,
        S.RazonSocial,
        F.Emisor
    FROM FI_Factura AS F WITH (NOLOCK)
    JOIN PV_Subcontratista AS S WITH (NOLOCK)
        ON F.IdSubcontratista = S.IdSubcontratista
       AND F.IdContrato = @IdContrato
    JOIN CO_Contrato AS C WITH (NOLOCK)
        ON F.IdContrato = C.IdContrato
    WHERE C.IdContrato = @IdContrato

    UNION

    SELECT
        F.IdFactura,
        F.Serie,
        C.NumeroContrato,
        F.Folio,
        F.Fecha,
        CASE
            WHEN F.MetodoPago LIKE '%exhibi%' OR F.MetodoPago LIKE '%PUE%'
              OR F.MetodoPago LIKE '%parcia%' OR F.MetodoPago LIKE '%dife%' OR F.MetodoPago LIKE '%PPD%'
                THEN F.FormaPago
            WHEN F.FormaPago LIKE '%exhibi%' OR F.FormaPago LIKE '%PUE%'
              OR F.FormaPago LIKE '%parcia%' OR F.FormaPago LIKE '%dife%' OR F.FormaPago LIKE '%PPD%'
                THEN F.MetodoPago
            ELSE 'NA'
        END AS FormaPago,
        ISNULL(F.SubTotal, 0)         AS SubTotal,
        F.Moneda,
        ISNULL(F.MontoConIva, 0)      AS MontoConIva,
        F.TipoComprobante,
        CASE
            WHEN F.MetodoPago LIKE '%exhibi%' OR F.MetodoPago LIKE '%PUE%'
              OR F.FormaPago  LIKE '%exhibi%' OR F.FormaPago  LIKE '%PUE%' THEN 'PUE'
            WHEN F.MetodoPago LIKE '%parcia%' OR F.MetodoPago LIKE '%dife%' OR F.MetodoPago LIKE '%PPD%'
              OR F.FormaPago  LIKE '%parcia%' OR F.FormaPago  LIKE '%dife%' OR F.FormaPago  LIKE '%PPD%' THEN 'PPD'
            ELSE 'NA'
        END AS MetodoPago,
        SUBSTRING(F.LugarExpedicion, 1, 15) AS LugarExpedicion,
        F.UUID,
        F.FechaRecepcion,
        S.RazonSocial,
        F.Emisor
    FROM FI_FacturaContrato FC WITH (NOLOCK)
    JOIN FI_Factura F WITH (NOLOCK)
        ON FC.IdFactura = F.IdFactura
       AND FC.IdContrato = @IdContrato
    JOIN PV_Subcontratista S WITH (NOLOCK)
        ON F.IdSubcontratista = S.IdSubcontratista
    JOIN CO_Contrato C WITH (NOLOCK)
        ON FC.IdContrato = C.IdContrato
    WHERE C.IdContrato = @IdContrato;

    /* ================= #
       UUIDs por transfer #
       ================= */
    CREATE TABLE #UUIDS
    (
        IdTransfer INT NOT NULL,
        UUID       VARCHAR(500) NOT NULL
    );

    CREATE NONCLUSTERED INDEX IX_UUIDS_IdTransfer ON #UUIDS(IdTransfer) INCLUDE (UUID);

    /* Complementos: CFDI relacionados a la transferencia */
    INSERT INTO #UUIDS (IdTransfer, UUID)
    SELECT
        T.IdTransferencia,
        CONCAT(F.TipoComprobante, '-', SUBSTRING(LTRIM(RTRIM(F.UUID)), 1, 500))
    FROM FI_Transfer AS T WITH (NOLOCK)
    JOIN FI_TransferFactura AS TF WITH (NOLOCK)
        ON T.IdTransferencia = TF.IdTransfer
       AND T.IdContrato = @IdContrato
    JOIN FI_Factura AS F WITH (NOLOCK)
        ON TF.IdFactura = F.IdFactura
    WHERE T.IdContrato = @IdContrato
    GROUP BY T.IdTransferencia, CONCAT(F.TipoComprobante, '-', SUBSTRING(LTRIM(RTRIM(F.UUID)), 1, 500));

    /* Identificadores de Complemento de Pago */
    INSERT INTO #UUIDS (IdTransfer, UUID)
    SELECT
        T.IdTransferencia,
        CONCAT('I-', SUBSTRING(LTRIM(RTRIM(CPR.IdDocumento)), 1, 500))
    FROM FI_Transfer AS T WITH (NOLOCK)
    JOIN FI_TransferFactura AS TF WITH (NOLOCK)
        ON T.IdTransferencia = TF.IdTransfer
       AND T.IdContrato = @IdContrato
    JOIN FI_Factura AS F WITH (NOLOCK)
        ON TF.IdFactura = F.IdFactura
    JOIN FI_ComplementoDePago AS CP WITH (NOLOCK)
        ON F.IdFactura = CP.IdFactura
    JOIN FI_CPDocRelacionado AS CPR WITH (NOLOCK)
        ON CP.IdComplementoDePago = CPR.IdComplementoDePago
    WHERE T.IdContrato = @IdContrato
    GROUP BY T.IdTransferencia, CONCAT('I-', SUBSTRING(LTRIM(RTRIM(CPR.IdDocumento)), 1, 500));

    /* ============================ #
       Cadena de UUIDs por transfer #
       ============================ */
    CREATE TABLE #TransferenciaUUIDS
    (
        IdTransfer INT NOT NULL,
        UUIDS      VARCHAR(8000) NULL
    );


    INSERT INTO #TransferenciaUUIDS (IdTransfer, UUIDS)
    SELECT
        u.IdTransfer,
        SUBSTRING(
            (
                SELECT ' | ' + uu.UUID
                FROM #UUIDS AS uu
                WHERE uu.IdTransfer = u.IdTransfer
                FOR XML PATH(''), TYPE
            ).value('.', 'varchar(8000)')
        , 4, 8000) AS UUIDS
    FROM #UUIDS AS u
    GROUP BY u.IdTransfer;

    /* ============= #
       Resultado final
       ============= */
    SELECT DISTINCT
        T.IdTransferencia,
        CBD.CuentaClave                         AS CuentaOrigen,
        CB.CuentaClave                          AS CuentaDestino,
        S.RazonSocial,
        S.RFC,
        T.ReferenciaBancaria,
        T.FechaPago,
        YEAR(T.FechaPago)                       AS Anio,              
        CONCAT(RIGHT('00' + CAST(MONTH(T.FechaPago) AS VARCHAR(2)), 2), ' ', DATENAME(MONTH, T.FechaPago)) AS Mes,
        T.MontoPagado,
        T.Intereses,
        MP.MetodoPago,
        TM.TipoMonedaCorto                      AS TipoMoneda,
        CONCAT(T.Concepto, ' - UUID ', UPPER(ISNULL(TU.UUIDS, ''))) AS Concepto,
        T.NumeroPolizaContable,
        CASE WHEN T.AWSPDFId IS NULL THEN '¡PDF NO CARGADO!' ELSE 'Pdf Cargado' END AS ComprobanteDePago,
        U.Nombre                                AS CreadoPor,
        T.CreadoEn                              AS FechaRegistro,     
        UM.Nombre                               AS ModificadoPor,
        T.ModificadoEn                          AS FechaModificado,    
        CASE
            WHEN TF.CvTipoDocFacturacion = 1 AND T.IdFormaPago = 1 THEN 'CF PUE'
            WHEN TF.CvTipoDocFacturacion = 2 THEN 'PI'
            WHEN TF.CvTipoDocFacturacion = 3 THEN 'PE'
            WHEN TF.CvTipoDocFacturacion = 6 THEN 'CF-P'
            WHEN TF.CvTipoDocFacturacion = 1 AND T.IdFormaPago = 2 THEN 'CF PPD Pendiente de Complemento de Pago'
            WHEN TF.CvTipoDocFacturacion = 1 AND FCT.MetodoPago = 'PUE' THEN 'CF PUE'
            WHEN TF.CvTipoDocFacturacion = 1 AND FCT.MetodoPago = 'PPD' THEN 'CF PPD Pendiente de Complemento de Pago'
            ELSE 'NA'
        END AS TipoDoc
    FROM FI_Transfer AS T WITH (NOLOCK)
    JOIN PV_CuentaBancaria AS CB WITH (NOLOCK)
        ON T.IdCuentaDestino = CB.DatoBancarioID
       AND T.IdContrato = @IdContrato
    JOIN PV_CuentaBancaria AS CBD WITH (NOLOCK)
        ON T.IdCuentaOrigen = CBD.DatoBancarioID
    JOIN PV_Subcontratista AS S WITH (NOLOCK)
        ON CB.IdProveedor = S.IdSubcontratista
    JOIN PV_TipoMoneda AS TM WITH (NOLOCK)
        ON T.IdMoneda = TM.IdMoneda
    JOIN PV_MetodoPago AS MP WITH (NOLOCK)
        ON T.IdMetodoPago = MP.idMetodoPago
    LEFT JOIN AP_Usuario AS U WITH (NOLOCK)
        ON T.CreadoPor = U.UsuarioID
    LEFT JOIN AP_Usuario AS UM WITH (NOLOCK)
        ON T.ModificadoPor = UM.UsuarioID
    JOIN FI_TransferFactura AS TF WITH (NOLOCK)
        ON T.IdTransferencia = TF.IdTransfer      
    LEFT JOIN #TransferenciaUUIDS AS TU WITH (NOLOCK)
        ON TU.IdTransfer = T.IdTransferencia
    LEFT JOIN #Facturas AS FCT
        ON TF.IdFactura = FCT.IdFactura
    WHERE T.IdContrato = @IdContrato
      AND TF.IdTransfer IS NOT NULL
    ORDER BY T.IdTransferencia DESC;
END;
GO
